/* ----- Footer ----- */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Prompt) format("woff2");
  font-display: swap;
}

.footer {
  background-image: url("../backgroundImages/bgclouds.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  min-height: 150px;
}
