@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Prompt) format("woff2");
  font-display: swap;
}

/* ----- Joke Modal ----- */
/* This is rendered when user clicks "Get a Joke" button (connected to JokeAPI) */
.swal-modal {
  background-image: url("../backgroundImages/portfoliobg.png");
  border: 3px solid white;
  width: 50vw;
}

.swal-overlay {
  background-color: rgb(0, 18, 32, 0.75);
}

.swal-title {
  margin: 2vw;
  font-size: 3vw;
  text-align: center;
  color: white;
}

.swal-text {
  background-color: rgba(235, 89, 103, 0.9);
  line-height: auto;
  padding: 3vw, 3.5vh;
  margin: 1vw;
  font-size: 2vw;
  text-align: center;
  width: 35vw;
  color: white;
}
