/* ----- Media Queries ----- */
/* Ordered from smallest to largest screen size */
@media screen and (min-width: 360px) {
  h1,
  h2,
  h3,
  h4,
  .banner__content,
  .banner__text,
  p,
  .paragraph_link,
  .banner__text,
  .material-icons {
    transform: scale(0.75);
  }
  a,
  #version,
  button,
  .glow-on-hover,
  .nav_link {
    transform: scale(0.7);
  }
  .fab fa-github fa-2x {
    transform: scale(0.8);
  }
  .float-container {
    transform: scale(1.2);
  }
  .news-input {
    transform: scale(0.65);
    margin-top: -5px;
  }
  .news_feed_start {
    transform: scale(0.85);
    margin-left: 2.5px;
  }
  .news_container {
    margin-top: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .float-container {
    transform: scale(1.5);
  }
  input[type="text"] {
    font-size: 16px;
  }
}

@media only screen and (max-width: 381px) {
  .jokeButton {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .nav_link .jokeButton #version {
    font-size: smaller;
    padding: none;
  }
  #version {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .flex {
    margin-top: max(15vh);
  }
  #version {
    display: none;
  }
  .fa-bars {
    display: block;
    color: #ffffff;
    float: left;
    align-items: center;
    transform: scale(1.5);
  }
  .glow-on-hover {
    display: none;
  }
  .fa-search {
    display: none;
  }
  .anim-typewriter {
    font-size: larger;
  }
}

@media only screen and (min-width: 600px) {
  .fa.fa-bars {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .nav_link {
    font-size: 16px;
  }
}

/* Media Query for swapping out text input for search icon */
@media only screen and (max-width: 710px) {
  .news-input {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  h1,
  h2,
  h3,
  h4,
  .banner__content,
  p,
  .paragraph_link,
  .banner__text {
    transform: scale(0.8);
  }
  a,
  #version,
  button,
  .glow-on-hover,
  .nav_link {
    transform: scale(0.8);
  }
  .fab fa-github fa-2x {
    transform: scale(0.9);
  }
  .news_feed_start {
    transform: scale(0.95);
    margin-left: 1px;
    overflow-x: scroll;
  }
  input[type="text"] {
    font-size: 20px;
  }
  .float-container {
    transform: scale(1.35);
  }
}

@media screen and (max-width: 875px) {
  .news-input {
    display: none;
  }
}
@media screen and (min-width: 876px) {
  .news-input {
    display: flex;
  }
  .fa.fa-search {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .tab {
    max-width: 97.5%;
  }
}

@media screen and (max-width: 1500px) {
  .dispay-blobs {
    display: none;
  }
}

@media screen and (min-width: 1501px) {
  .tab,
  h3,
  .nav_link,
  .jokeButton,
  .banner__text,
  #projectWrapper,
  .paragraph_link {
    font-size: 1.25vw;
  }
}
