/* ----- News Text Input Field ----- */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Prompt) format("woff2");
  font-display: swap;
}

.news-input {
  min-height: 4vh;
  color: black;
  text-align: center;
  font-size: 1.25vw;
  float: right;
  margin-top: 25px;
}
.fa-search {
  margin-top: 25px;
  flex-wrap: wrap;
}

/* ----- Rendered Newsfeed ----- */
.news_feed_start {
  display: flex;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Individual News Cards */
.news_container {
  display: flex;
  justify-content: left;
  align-items: stretch;
  min-width: clamp(300px, 350px, 500px);
  margin-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  min-height: 100px;
  cursor: pointer;
}

img {
  max-width: 100%;
  /* display: block; */
  object-fit: cover;
  height: 300px;
}

.tag {
  /* align-self: flex-end; */
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

#left {
  align-self: flex-start;
  float: left;
}

#right {
  align-self: flex-end;
  float: right;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #1d2a75;
  text-align: center;
  min-width: 5vw;
  background-image: linear-gradient(to bottom, #23359b, #1d2137);
  color: #fafafa;
}
.tag-red {
  background: #c62368;
  text-align: center;
  min-width: 5vw;
  background-image: linear-gradient(to bottom, #eb5967, #c62368);
  color: #fafafa;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: max-content;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card {
  margin-top: 17.5vh;
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 1em;
  background-image: linear-gradient(
    180deg,
    rgb(60, 106, 190),
    rgb(255, 255, 255)
  );
}

.card__footer {
  display: flex;
  padding: 0.5rem;
  margin-top: auto;
  height: 100px;
}

.author {
  display: flex;
  gap: 0.5rem;
}

.author__info > small {
  color: rgb(5, 0, 0);
}

.news_feed {
  display: flex;
  position: relative;
  /* max-width: 200px; */
}

.news_hero {
  max-width: 500px;
}

h5 {
  text-align: center;
  height: 40px;
  position: relative;
  color: black;
  font-size: clamp(0.5rem, 1rem, 2rem);
  padding-top: 1vh;
}

h6 {
  text-align: center;
  height: 50px;
  line-height: normal;
  position: relative;
  color: black;
  font-size: clamp(0.5rem, 1.1rem, 2.5rem);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  left: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #0b112d transparent transparent transparent;
}
