/* Headers */
h1 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto";
  transform: translateX(-1.5vw);
  font-size: clamp(1rem, 2.5vw, 5rem);
  min-width: fit-content;
}
/* h1 effects */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/*  h1 Animation */
.anim-typewriter {
  padding-top: 1vh;
  animation: typewriter 5s steps(44) 1s 1 normal both,
    blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(250, 114, 104, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Buttons (In the Top Nav) */
/* Links */
a {
  font-size: clamp(0.4rem, 1.1rem, 10rem);
  font-family: "Prompt";
}

.nav_link {
  font-size: clamp(0.4rem, 1.1rem, 10rem);
  padding: 1vw;
  padding-top: 3vh;
  float: left;
}

.click-me {
  animation: clickMeBounce 7s infinite linear;
}

@keyframes clickMeBounce {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.4em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.25em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* Attention Banner */
.banner {
  font-size: 4vh;
  font-weight: 600;
  color: #0b102c;
  background: #e7e8e9;
  border-bottom: white;
  cursor: pointer;
}

.banner__content {
  max-width: 80%;
  margin: 0 auto;
  font-size: larger;
  display: flex;
  align-items: center;
}

.banner__text {
  font-size: clamp(0.1rem, 1.25rem, 10rem);
  flex-grow: 1;
  text-align: center;
  line-height: 1.5;
  align-items: center;
}

.banner__close {
  inherits: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  min-height: 2.5rem;
}

/* Banner Background */
/* Banner Text */
/* Banner Close Button */

/* Top Nav */
.sticky {
  position: sticky;
  z-index: 9999;
}

.topnav {
  display: inline-block;
  width: 100%;
  padding-left: 1vw;
  padding-bottom: 5px;
  justify-content: space-around;
  top: 0;
}
/* Title Background */
.bg {
  width: 100%;
  background: none;
}
.cloudbg {
  background-image: url("../backgroundImages/bgcloudsTop.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Line Divider */
.topborderAngle {
  width: 115%;
}
.topborder {
  position: relative;
}
/* Top Nav Links */

/* Joke API */
/* .jokeButton {
  font-size: clamp(0.4rem, 1.1rem, 10rem);
  font-family: "Prompt";
  color: rgb(255, 254, 254);
  padding: 1vw;
  padding-top: 3vh;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
  width: auto;
  min-height: 70px;
} */
.jokeButton:hover {
  color: #c62368;
}

.jokeButton:active {
  transform: scale(0.65);
}

.swal-button {
  border-radius: 2px;
  background-color: #c62368;
  font-size: 2vw;
  transform: scale(0.65);
}
.glow-on-hover {
  position: relative;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff00009b,
    #ff73009b,
    #fffb009b,
    #48ff009b,
    #00ffd59b,
    #002bff9b,
    #7a00ff9b,
    #ff00c89b,
    #ff00009b
  );
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(80% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  margin-top: 2vh;
  /* border-radius: 10px; */
}
.glow-on-hover:active:after {
  transform: scale(0.95);
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
  margin-top: 2vh;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Version */
#version {
  color: rgb(255, 254, 254);
  padding: 1vw;
  margin-right: 2vw;
  padding-top: 3vh;
  float: right;
  cursor: pointer;
}
#version:active {
  transform: scale(0.75);
}

li {
  padding-right: 7px;
}

.menu {
  position: fixed;
  z-index: 100;
  margin-top: 10vh;
  margin-left: 5px;
  width: 35%;
  min-width: fit-content;
  background-color: #7b94bb;
  backdrop-filter: blur(25px);
  border-radius: 2.5%;
}

.toggle-mobile-top-nav {
  display: none;
  left: 0;
}

.mobile-top-nav {
  display: flex;
  width: 95%;
}

/* sticky nav */
.sticky {
  position: fixed;
  width: 100%;
}

.relative {
  position: relative;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.blend {
  opacity: 1;
  border-color: grey;
}

.flex {
  display: flex;
  margin-top: min(17vw);
  margin-bottom: clamp(10vh, 17vh, 20vh);
  z-index: -1000;
}
